<div class="contact-us">
  <div class="contact-us">
    <div class="logo">
      <span class="logo-text"><mat-icon>eco</mat-icon>Cem Audio</span>
    </div>
    <div class="contact-social-media">
      <span class="contact-title">Sosyal Medya</span>
      <span class="contact-info">Instagram</span>
      <span class="contact-email"> Twitter</span>
    </div>
    <div class="contact-details">
      <span class="contact-title">İletişim</span>
      <span class="contact-info"><fa-icon [icon]="['fas', 'phone']" color="white"></fa-icon> +90 555 555 55 55</span>
      <span class="contact-email"><fa-icon [icon]="['fas', 'envelope']" color="white"></fa-icon>
        cemaudio@gmail.com</span>
    </div>
  </div>
</div>