<div class="grey-section">
    <mat-card class="card">
        <mat-card-content>
            <h2>Kart 1</h2>
            <p>Bu kartın içeriği buraya gelecek.</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-content>
            <h2>Kart 2</h2>
            <p>Bu kartın içeriği buraya gelecek.</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-content>
            <h2>Kart 3</h2>
            <p>Bu kartın içeriği buraya gelecek.</p>
        </mat-card-content>
    </mat-card>
</div>