.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 400px;
  padding: 20px;
  margin: 20px;
}

.grey-section {
  background-color: #ccc;
  height: 50vh;
}

.grey-section {
  background-color: #ccc;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}